<div class="container custom-container">
  <div class="title mb-5 text-center">
    <h1>Initial state of money</h1>
  </div>
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="payment-form">
    <div class="form-group mb-3">
      <label for="5KM">5KM</label>
      <input type="number" class="form-control" id="5KM" formControlName="inputCoin5">
    </div>
    <div class="form-group mb-3">
      <label for="2KM">2KM</label>
      <input type="number" class="form-control" id="2KM" formControlName="inputCoin2">
    </div>
    <div class="form-group mb-3">
      <label for="1KM">1KM</label>
      <input type="number" class="form-control" id="1KM" formControlName="inputCoin1">
    </div>
    <div class="form-group mb-3">
      <label for="50pf">0.50KM</label>
      <input type="number" class="form-control" id="50pf" formControlName="inputCoin50pf">
    </div>
    <div class="form-group mb-3">
      <label for="20pf">0.20KM</label>
      <input type="number" class="form-control" id="20pf" formControlName="inputCoin20pf">
    </div>
    <div class="form-group mb-3">
      <label for="10pf">0.10KM</label>
      <input type="number" class="form-control" id="10pf" formControlName="inputCoin10pf">
    </div>
    <div class="text-end">
      <button type="submit" class="btn btn-success mt-4">Submit</button>
    </div>
  </form>
  <app-coins class="coins"
             [coin5KM]="paymentForm.value.inputCoin5"
             [coin2KM]="paymentForm.value.inputCoin2"
             [coin1KM]="paymentForm.value.inputCoin1"
             [coin50pf]="paymentForm.value.inputCoin50pf"
             [coin20pf]="paymentForm.value.inputCoin20pf"
             [coin10pf]="paymentForm.value.inputCoin10pf">
  </app-coins>
</div>
